/* 文字選択禁止 */
/* body{
    user-select:none;
    -webkit-user-select:none;
    -ms-user-select: none;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkit-user-drag:none;
    -khtml-user-drag:none;
    } */

html {
  height: 100%;
}    
body {
  height: 100%;
  margin: 0 8%;
}
/* 背景画像 */
.container {
  height: 97%;
  background-image: url(img/lobby_epN01.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
/* タイトル画像 */
.title {
  position: absolute;
  height: 97%;
  top: 0%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 5;
}
.kiyaku {
  position: absolute;
  height: 97%;
  top: 0%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 6;
}
.agree {
  position: absolute;
  height: 15%;
  top: 60%;
  left: 38%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 7;
}

/* .opacity{
  height: 0;
  opacity: 0;
  transition: all .5s ease;
}
.opacity.active{
  height: 100%;
  opacity: 1;
} */