/* 文字選択禁止 */
/* body{
    user-select:none;
    -webkit-user-select:none;
    -ms-user-select: none;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkit-user-drag:none;
    -khtml-user-drag:none;
    } */

body {
  margin: 0;
}  
main {
  margin: 0;
}
/* 背景画像 */
.container {
  position: relative;
  display: none;
  height: 100%;
  margin: 0 8%;
  top: 0px;
  background-image: url(img/lobby_epN01.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
/* タイトル範囲 */
.title_area {
  position: relative;
  width: 100%;
  min-width: 1920px;
}
/* タイトル画像 */
.title {
  width: 100%;
  z-index: 0;
}
.kiyaku {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.agree {
  position: absolute;
  top: 780px;
  left: calc(100% * 770 / 1920);
  width: calc(100% * 380 / 1920);
  z-index: 2;

  height: calc(100vw * 120 / 1920);
  min-height: 120px;
  transform: translateY(calc(100vw * 120 / 1920 * -1));
}
@media screen and (max-width: 1919px) {
  .agree {
    transform: translateY(-120px);
  }
}/* .opacity{
  height: 0;
  opacity: 0;
  transition: all .5s ease;
}
.opacity.active{
  height: 100%;
  opacity: 1;
} */