/* 文字選択禁止 */
/* body{
    user-select:none;
    -webkit-user-select:none;
    -ms-user-select: none;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkit-user-drag:none;
    -khtml-user-drag:none;
    } */

html {
  height: 97%;
}    
/* body {
  height: 100%;
} */
/* 背景画像 */
.container {
  height: 97%;
  margin: 0 8%;
  top: 0px;
  background-image: url(img/lobby_epN01.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
/* タイトル画像 */
.title_area {
  position: relative;
  width: 100%;
  min-width: 1200px;
}
.title {
  position: absolute;
  height: 97%;
  margin: 0 8%;
  top: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 5;
}
.kiyaku {
  position: absolute;
  height: 97%;
  margin: 0 8%;
  top: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 6;
}
.agree {
  position: absolute;
  height: 10%;
  top :60%;
  left: 43%;
  /* height: 130px;
  top: 560px;
  left: 750px; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 7;
}

/* .opacity{
  height: 0;
  opacity: 0;
  transition: all .5s ease;
}
.opacity.active{
  height: 100%;
  opacity: 1;
} */