/* ダブルタップ禁止 */
html {
  touch-action: manipulation;
}
/* 文字選択禁止 */
body {
  user-select:none;
  -webkit-user-select:none;
  -ms-user-select: none;
  -moz-user-select:none;
  -khtml-user-select:none;
  -webkit-user-drag:none;
  -khtml-user-drag:none;
}
/* スマホ画像長押し禁止 */
img {
  user-select:none;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-touch-callout:none;
  -moz-user-select:none;
}
body {
  margin: 0;
  font-family: "ヒラギノ角ゴシック";
  max-width: 1920px;
  min-width: 1920px;
}
/* タイトル範囲 */
.title_area {
  position: relative;
  width: 100%;
  z-index: 20;
  opacity: 0;
}
/* タイトル画像 */
.title {
  width: 100%;
  z-index: 0;
}
.kiyaku {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 21;
}
.kiyaku_title {
  position: absolute;
  font-family: "HGSｺﾞｼｯｸE","ヒラギノ角ゴシック";
  font-size: 70px;
  color: #3d2525;
  top: 140px;
  left: 830px;
  z-index: 22;
}
.kiyaku_setumei {
  position: absolute;
  font-family: "HGSｺﾞｼｯｸE","ヒラギノ角ゴシック";
  font-size: 40px;
  color: #3d2525;
  top: 400px;
  left: 670px;
  z-index: 23;
}
.agree,.agree_black,.agree_check {
  position: absolute;
  top: 660px;
  left: 770px;
  width: 380px;
  z-index: 23;
}
.agree_black,.agree_check {
  display: none;
}
.ok_btn,.ok_btn_black {
  position: absolute;
  top: 820px;
  left: 820px;
  width: 280px;
  z-index: 23;
}
.ok_btn {
  display: none;
}

/* タイトルロゴ範囲 */
.title_logo_area {
  width: 100%;
  z-index: 10;
}
/* タイトルロゴ */
.black {
  position: absolute;
  background-color: black;
  width: 1920px;
  height: 1080px;
  z-index: 15;
}
.line_title {
  position: absolute;
  width: 1920px;
  height: 1080px;
  z-index: 14;
}
.white_wrap {
  position: absolute;
  width: 1920px;
  height: 1080px;
}
.devsisters_white {
  position: absolute;
  width: 1920px;
  height: 1080px;
  right: 0px;
  z-index: 13;
  transition: 1000ms linear;
}
.devsisters_white.is-show {
  width: 0px;
}
.devsisters_logo {
  position: absolute;
  width: 705px;
  top: 480px;
  left:610px;
  z-index: 12;
}
.white {
  position: absolute;
  background-color: white;
  width: 1920px;
  height: 1080px;
  z-index: 11;
}
.black2 {
  position: absolute;
  background-color: black;
  width: 1920px;
  height: 1080px;
  z-index: 20;
  opacity: 0;
}
/* ロード */
.log_box {
  position: absolute;
  width: 1030px;
  top: 940px;
  left: 460px;
  z-index: 1;
  display: none;
}
.timer_1 {
  position: absolute;
  width: 55px;
  top: 965px;
  left: 515px;
  z-index: 2;
  display: none;
}
.timer_2 {
  position: absolute;
  width: 55px;
  top: 965px;
  left: 515px;
  z-index: 2;
  display: none;
}
.timer_3 {
  position: absolute;
  width: 55px;
  top: 965px;
  left: 515px;
  z-index: 2;
  display: none;
}
.timer_4 {
  position: absolute;
  width: 55px;
  top: 965px;
  left: 515px;
  z-index: 2;
  display: none;
}
.timer_5 {
  position: absolute;
  width: 55px;
  top: 965px;
  left: 515px;
  z-index: 2;
  display: none;
}
.timer_6 {
  position: absolute;
  width: 55px;
  top: 965px;
  left: 515px;
  z-index: 2;
  display: none;
}
.timer_7 {
  position: absolute;
  width: 55px;
  top: 965px;
  left: 515px;
  z-index: 2;
  display: none;
}
.timer_8 {
  position: absolute;
  width: 55px;
  top: 965px;
  left: 515px;
  z-index: 2;
  display: none;
}
.timer_9 {
  position: absolute;
  width: 55px;
  top: 965px;
  left: 515px;
  z-index: 2;
  display: none;
}
.timer_10 {
  position: absolute;
  width: 55px;
  top: 965px;
  left: 515px;
  z-index: 2;
  display: none;
}
.timer_11 {
  position: absolute;
  width: 55px;
  top: 965px;
  left: 515px;
  z-index: 2;
  display: none;
}
.timer_12 {
  position: absolute;
  width: 55px;
  top: 965px;
  left: 515px;
  z-index: 2;
  display: none;
}
.loading_text_1 {
  position: absolute;
  font-family: "HGSｺﾞｼｯｸE","ヒラギノ角ゴシック";
  font-size: 37px;
  color: whitesmoke;
  top: 975px;
  left: 865px;
  z-index: 2;
  display: none;
}
.loading_text_2 {
  position: absolute;
  font-family: "HGSｺﾞｼｯｸE","ヒラギノ角ゴシック";
  font-size: 37px;
  color: whitesmoke;
  top: 975px;
  left: 820px;
  z-index: 2;
  display: none;
}
.loading_text_3 {
  position: absolute;
  font-family: "HGSｺﾞｼｯｸE","ヒラギノ角ゴシック";
  font-size: 37px;
  color: whitesmoke;
  top: 975px;
  left: 740px;
  z-index: 2;
  display: none;
}
.loading_text_4 {
  position: absolute;
  font-family: "HGSｺﾞｼｯｸE","ヒラギノ角ゴシック";
  font-size: 37px;
  color: whitesmoke;
  top: 975px;
  left: 765px;
  z-index: 2;
  display: none;
}
.loading_text_5 {
  position: absolute;
  font-family: "HGSｺﾞｼｯｸE","ヒラギノ角ゴシック";
  font-size: 37px;
  color: whitesmoke;
  top: 975px;
  left: 690px;
  z-index: 2;
  display: none;
}
.loading_text_6 {
  position: absolute;
  font-family: "HGSｺﾞｼｯｸE","ヒラギノ角ゴシック";
  font-size: 37px;
  color: whitesmoke;
  top: 975px;
  left: 785px;
  z-index: 2;
  display: none;
}